<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
        integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"
        integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>

    </style>
</head>

<body>
    <h1>Kết quả phân lớp giai đoạn giấc ngủ</h1>
    <!-- <div class="data-and-activation"> -->
    <div class="data-raw">
        <h2>Hình ảnh dữ liệu edf thô</h2>
        <!-- {% for file in image_names %}
        {% if file.endswith('Fpz_Cz.png') %}
        <div class="img-chart">
            <img class="img-data-raw" src="{{ url_for('static', filename=file, _external=True) }}" alt="Results">
        </div>
        {% endif %}
        {% endfor %} -->
        <div class="img-chart"></div>
        <canvas id="rawChart" class="img-data-raw"></canvas>
        <div class="img-chart"></div>
    </div>
    <div class="activation">
        <label for="select_activation">Chọn hàm kích hoạt:</label>
        <form name="select_activation" id="select_activation">
            <input type="radio" name="activation" value="relu" onchange="updateImages()" checked>ReLU</input>
            <input type="radio" name="activation" value="gelu" onchange="updateImages()">GELU</input>
        </form>
        <div id="image-container">
            {% for file in image_names %}
            {% if file.endswith('acc_relu.png') %}
            <div class="img-chart" id="relu-image">
                <img class="image-activation" src="{{ url_for('static', filename=file, _external=True) }}"
                    alt="Results">
            </div>
            {% endif %}
            {% if file.endswith('acc_gelu.png') %}
            <div class="img-chart" id="gelu-image" style="display: none;">
                <img class="image-activation" src="{{ url_for('static', filename=file, _external=True) }}"
                    alt="Results">
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>

    <div class="model">
        {% for file in image_names %}
        {% if file.endswith('true_line.png') %}
        <div class="img-chart">
            <img class="image-model" src="{{ url_for('static', filename=file, _external=True) }}" alt="Results">
        </div>
        {% endif %}
        {% endfor %}

        <!-- {% for file in image_names %}
        {% if file.endswith('true_labels_legend.png') %}
        <div class="img-chart">
            <img class="image-activation" src="{{ url_for('static', filename=file, _external=True) }}" alt="Results">
        </div>
        {% endif %}
        {% endfor %} -->
        <!-- <div id="label-predict" class="label-predict">
            <p name="label-model" id="deep" hidden="true">DeepSleepNet:</p>
            <p name="label-model" id="tiny" hidden="true">TinySleepNet: </p>
            <p name="label-model" id="attn" hidden="true">AttnSleep: </p>
            <p name="label-model" id="ts" hidden="true">TS-TCC: </p>
            <p name="label-model" id="ca" hidden="true">CA-TCC: </p>
        </div> -->

        <label for="select-model">Chọn mô hình</label>
        <form name="select-model" id="select-model">
            <input type="checkbox" name="model" id="modelTrue" value=0 onchange="updateChart()">Nhãn đúng</input>
            <input type="checkbox" name="model" id="modelAttn" value=1 onchange="updateChart()">AttnSleep</input>
            <input type="checkbox" name="model" id="modelCa-tcc" value=2 onchange="updateChart()">CA-TCC</input>
            <input type="checkbox" name="model" id="modelDeepSleep" value=3
                onchange="updateChart()">DeepSleepNet</input>
            <input type="checkbox" name="model" id="modelTs-tcc" value=4 onchange="updateChart()">TS-TCC</input>
            <input type="checkbox" name="model" id="modelTiny" value=5 onchange="updateChart()">TinySleepNet</input>
            <input type="checkbox" name="model" id="modelTS_GE" value=6 onchange="updateChart()">TS-TCC GELU</input>
            <input type="checkbox" name="model" id="modelCA_GE" value=7 onchange="updateChart()">CA-TCC GELU</input>
            <input type="checkbox" name="model" id="modelTiny_GE" value=8 onchange="updateChart()">TinySleepNet
            GELU</input>
        </form>
        <div class="canvas-chart">
            <canvas id="myChartLine"></canvas>
        </div>
        <div class="canvas-chart">
            <canvas id="myChartBar"></canvas>
        </div>
        <div class="footer">

        </div>

    </div>
</body>

</html>

<script>

    var predicts = JSON.parse('{{ predicts_json|safe }}');
    console.log(predicts);
    var scores = JSON.parse('{{ scores_json|safe }}');
    console.log('scores ', scores);
    myChartLine = null
    myChartBar = null
    myChart = null

    function updateChart() {
        var selectedValues = [];
        var sendData = {
            selectedValues: selectedValues,
            predicts: predicts
        };
        var checkboxes = document.getElementsByName("model");
        var alertMessage = "";
        // Lặp qua các checkbox và lấy giá trị của các checkbox đã được chọn
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                var value = checkboxes[i].value;
                selectedValues.push(value);
                alertMessage += value + "\n";
            }
        }


        // Hiển thị giá trị các checkbox đã chọn trong một thông báo cảnh báo
        console.log("Selected values:\n" + alertMessage);
        // Gửi danh sách giá trị đã chọn đến máy chủ Flask để tạo biểu đồ
        var xhttp = new XMLHttpRequest();

        xhttp.onload = () => {
            // print JSON response
            if (xhttp.status >= 200 && xhttp.status < 300) {
                // parse JSON
                const response = JSON.parse(xhttp.responseText)
                console.log("response ", response)
                drawChart(response)
            }
        }


        xhttp.open("POST", "/update-chart", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify(sendData));
    }

    function drawChart(data) {
        var ctx = document.getElementById('myChartLine').getContext('2d');
        var chartBar = document.getElementById('myChartBar').getContext('2d');
        ctx.canvas.width = 1500;
        ctx.canvas.height = 400;
        chartBar.canvas.width = 1200;
        chartBar.canvas.height = 300;

        if (!data || Object.keys(data).length === 0) {
            console.error('Invalid data');
            return;
        }

        console.log("datahaha", data)
        if (myChartLine) {
            myChartLine.destroy();
        }

        if (myChartBar) {
            myChartBar.destroy();
        }


        const labelColors = {
            'TS-TCC': 'blue',
            'CA-TCC': 'green',
            'AttnSleep': 'orange',
            'DeepSleepNet': 'aqua',
            'TinySleepNet': 'yellow',
            'TS-TCC GELU': 'lime',
            'CA-TCC GELU': 'maroon',
            'TinySleepNet GELU': 'copper',
            'Nhãn đúng': 'red'
        };

        const labelvl = {
            'TS-TCC': 90,
            'CA-TCC': 80,
            'AttnSleep': 82,
            'DeepSleepNet': 67,
            'TinySleepNet': 89,
            'TS-TCC GELU': 87,
            'CA-TCC GELU': 83,
            'TinySleepNet GELU': 85,
            'Nhãn đúng': 100
        };

        const datasets = Object.entries(data.data).map(([label, values]) => {
            const dataCounts = values.map((value, index) => {
                switch (value) {
                    case 'W':
                        return 0;
                    case 'N1':
                        return 1;
                    case 'N2':
                        return 2;
                    case 'N3':
                        return 3;
                    case 'REM':
                        return 4;
                    default:
                        return 5;
                }

            });

            return {
                label: label,
                data: dataCounts,
                borderColor: labelColors[label],
                fill: false
            };
        });


        const labels_x = Array.from(Array(datasets[0].data.length), (_, i) => (i + 1).toString());
        datasets.sort((a, b) => {
            const sumA = a.data.reduce((sum, value) => sum + value, 0);
            const sumB = b.data.reduce((sum, value) => sum + value, 0);
            return sumB - sumA;
        });

        // print("labels_x ", labels_x)

        myChartLine = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels_x,
                datasets: datasets
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true,
                        ticks: {
                            fontSize: 16, // Kích thước chữ cho trục Ox
                        },
                    },
                    y: {
                        min: 0,  // Giá trị tối thiểu của trục Oy
                        max: 4,  // Giá trị tối đa của trục Oy
                        ticks: {
                            stepSize: 1,
                            callback: function (value, index, values) {
                                switch (value) {
                                    case 0:
                                        return 'W';
                                    case 1:
                                        return 'N1';
                                    case 2:
                                        return 'N2';
                                    case 3:
                                        return 'N3';
                                    case 4:
                                        return 'REM';
                                    default:
                                        return '';
                                }
                            },
                            fontSize: 16,
                        }
                    }
                }
            }
        });

        let results = {}
        myChartBar = new Chart(chartBar, {
            type: 'bar',
            data: {
                labels: [""],
                datasets: Object.entries(data.data).map(([label, values]) => {
                    console.log('label ', label, "data ", scores[label])
                    if (label != 'Nhãn đúng') {
                        results = {
                            label: label,
                            data: [scores[label]],
                            backgroundColor: labelColors[label],
                            borderColor: labelColors[label],
                            borderWidth: 1,
                        };

                    }
                    return results
                }),
            },
            options: {
                scales: {
                    x: {
                        beginAtZero: true,
                        ticks: {
                            fontSize: 16, // Kích thước chữ cho trục Ox
                        },
                    },
                    y: {
                        min: 0,  // Giá trị tối thiểu của trục Oy
                        max: 100,  // Giá trị tối đa của trục Oy
                        ticks: {
                            fontSize: 16,
                        }
                    }
                }
            },
        });
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        // Hàm gửi yêu cầu AJAX để cập nhật dữ liệu biểu đồ
        function updateChart(selectedValues) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var chartData = JSON.parse(this.responseText);
                    console.log("chardata", chartData)
                    drawChart(chartData);
                }
            };

            // Tạo một chuỗi JSON từ các giá trị được chọn
            var requestData = JSON.stringify(selectedValues);
            console.log("predicts document ", predicts)
            var sendData = {
                selectedValues: selectedValues,
                predicts: predicts
            };
            xhttp.open("POST", "/update-chart", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify(sendData));

        }

        // Lắng nghe sự kiện onchange cho các phần tử HTML
        var checkboxes = document.querySelectorAll("input[type='checkbox']");
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener("change", function () {
                // Lấy danh sách các giá trị được chọn
                var selectedValues = [];
                checkboxes.forEach(function (checkbox) {
                    if (checkbox.checked) {
                        selectedValues.push(checkbox.value);
                    }
                });
                // Cập nhật dữ liệu biểu đồ
                updateChart(selectedValues);
            });
        });
        updateChart([]);
    });


    function updateImages() {
        var reluImage = document.getElementById('relu-image');
        var geluImage = document.getElementById('gelu-image');

        if (document.querySelector('input[name="activation"][value="relu"]').checked) {
            reluImage.style.display = "block";
        } else {
            reluImage.style.display = "none";
        }

        if (document.querySelector('input[name="activation"][value="gelu"]').checked) {
            geluImage.style.display = "block";
        } else {
            geluImage.style.display = "none";
        }
    }

    //// Vẽ biểu đồ zoom dữ liệu thô
    var inforRaw_x = predicts['inforRaw_x']
    var inforRaw_y = predicts['inforRaw_y']

    var ctx = document.getElementById('rawChart').getContext('2d');

    var data = {
        labels: inforRaw_x,
        datasets: [{
            label: 'Amplitude',
            data: inforRaw_y,
            borderColor: 'green',
            tension: 0.1,
            fill: false
        }]
    };

    var options = {
        responsive: true,
        interaction: {
            mode: 'index',
            intersect: false
        },
        plugins: {
            zoom: {
                zoom: {
                    wheel: {
                        enabled: true
                    },
                    pinch: {
                        enabled: true
                    },
                    mode: 'xy'

                }
            },
            dragData: {
                // Cấu hình cho plugin kéo dữ liệu
                round: 3, // Số chữ số sau dấu phẩy khi kéo dữ liệu
            },
        },
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'Time (s)'
                },
                ticks: {
                    beginAtZero: true
                }
            },
            y: {
                title: {
                    display: true,
                    text: 'Amplitude'
                }
            }
        }
    };

    // Vẽ biểu đồ
    var rawChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: options
    });
</script>