Automat
blinker
certifi
chardet
cliapp
click
cloud-init
cmake
cmdtest
colorama
command-not-found
configobj
constantly
contourpy
cryptography
cupshelpers
cycler
dbus-python
decorator
defer
distro
distro-info
entrypoints
filelock
flask
fonttools
gunicorn
httplib2
hyperlink
idna
importlib-metadata
importlib-resources
incremental
itsdangerous
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lit
macaroonbakery
Markdown
MarkupSafe
matplotlib
mne
more-itertools
mpmath
netifaces
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
packaging
pexpect
Pillow
platformdirs
pooch
protobuf==3.20.*
pyasn1
pyasn1-modules
pycairo
pycups
Pygments
PyGObject
PyHamcrest
PyJWT
pymacaroons
PyNaCl
pyOpenSSL
pyparsing
pyRFC3339
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
pytz
PyYAML
requests
requests-unixsocket
scikit-learn
scipy
SecretStorage
service-identity
simplejson
six
sos
ssh-import-id
sympy
systemd-python
threadpoolctl
torch
tqdm
triton
ttystatus
Twisted
typing-extensions
ubuntu-advantage-tools
ufw
unattended-upgrades
urllib3
wadllib
werkzeug
zipp
zope.interface
