conda create -n deepsleepnet python=3.5.4
pip install tensorflow==1.15.2
pip install mne==0.20.0
pip install pandas==0.25.3
pip install matplotlib==1.5.3
pip install scikit-learn==0.19.1
pip install torch  
pip install tensorboardX
pip install flask